<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="CSS/styles.css">
    <link rel="stylesheet" type="text/css" href="CSS/home.css">
    <title>Home</title>
</head>
<body>
    <div class="container-home">
        <div class="title">
            <p>DARLING In The FRANXX</p>
            <a href="#" type="button" name="button" class="btn btn-login">Logout</a>
    </div>       
    </div>
   
</body>
</html>