.container-home {
    background-image: url("/images/Z2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #969696;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
    0 2px 4px 0 rgba(0,0,0,0.08);
    
}